body{

    background-color: rgb(15, 15, 13);
    background-image:linear-gradient(rgba(0, 0, 0, 0.892), rgba(0, 0, 0, 0.898)), url('https://64.media.tumblr.com/fd0621709b01f2e5d28394c31252398d/866bea5fc29769ba-97/s1280x1920/65144b3b31f63653afad86dd6d7ad45e27d5a003.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 110%;
    color:rgb(255, 255, 255);
    text-align: center ;
    font-family: 'Quicksand';
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 65px;
}

#REX{
    font-family:'Dancing Script' ;
    font-size: 300%;
    font-size: 77px;text-shadow: 0px 10px 7px rgba(137, 135, 5, 0.815);
}
#imgRex{
    border-radius:10%;
    height:400px;
    width: 400px; 
    padding: 20px;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.37), -1em 0 .4em rgba(0, 0, 0, 0.199);
}

.navbar-brand{
    padding: 0px;
    align-content: justify;
    margin-right: auto;
    margin-left: auto;
}
.texto{
    text-align: justify;
    margin: 20px ;
    margin-left: 80px ;
    margin-right: 80px;
    
}

.divLinea{
    display: block;
    margin: 15px 
}
    
.divLinea2{
    display: block;
    flex-direction: column;
    margin: 15px;
}
.texto2{
    text-align: center;
    margin-left: 40px ;
    margin-right: 40px;
   color: rgb(255, 255, 255);
    background: linear-gradient(rgba(0, 0, 0, 0.572), rgba(0, 0, 0, 0.68));
    border-radius: 10px;
}
.texto3{
    text-align: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(0, 0, 0, 0.618), rgba(0, 0, 0, 0.59)) center center;
    border-radius: 10px;
    margin-left: 300px ;
    margin-right: 300px;
}

.contornovideo{
    border-radius: 10%;
    
}